spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/gym_booking
    username: gym
    password: gym
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.hibernate.format_sql: true
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    root: info